<link rel="stylesheet" href="css/flight-status.css">
<div id="statusContainer">
  <div class="info-header container-fluid">
    <h2> CAI - BER</h2>
  </div>
  <div class="flightNo">
    <h2> M1720 </h2>
    <div class="line"></div>
  </div>
  <div class="status">
    <h1>DEPARTED</h1>
  </div>
  <div class="statusIcon">
    <i class="material-icons">flight_takeoff</i>
  </div>
  <div class="button-wrapper">
    <div class="layer"></div>
    <button class="main-button fa fa-info">
      <div class="ripple"></div>
    </button>
  </div>

  <div class="layered-content">
    <button class="close-button fa fa-times"></button>
    <div class="content">
      <h1>M1720</h1>
      <div class="airports">
        Cairo International Airport
        <i class="material-icons">keyboard_arrow_right</i>
        Berlin International Airport
      </div>
      <h2>Departs 10/10 8:00 </h2>
      <h2>Arrives 10/10 10:00</h2>
      <h2>Duartion 2hrs</h2>
      <h2> Aircraft 1234 </h2>
    </div>
  </div>
</div>
<script src="js/flight-status.js"></script>
