
<link rel="stylesheet" href="css/flights.css" >
<div class="flights-wrapper">
  <h3> Choose your flight(s).</h3>
  <div class="outFlights">
    <div class="info-header container-fluid">
      <h3>
        <i class="material-icons">fast_forward</i>
        {{origin}}  - {{destination}}
      </h3>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Flight</th>
          <th ng-show="seatClass==='economy'">Economy</th>
          <th ng-show="seatClass==='business'">Business</th>
          <th ng-show="otherAirlines===1">Airline</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="outgoingFlight in outgoingFlights">
          <td>
            <div class="row flight-number">
              {{outgoingFlight.flightNumber}}
            </div>
            <div class="row">
              {{outgoingFlight.departureDateTime | date :  "shortTime"}} - {{outgoingFlight.arrivalDateTime | date :  "shortTime"}}
            </div>
            <div class="row">
              {{outgoingFlight.aircraftType}} {{outgoingFlight.aircraftModel}}
            </div>
          </td>
          <td>
            <fieldset >
              <input type="radio" class="class" id="outgoing{{$index}}" name="outgoingCost" ng-model="$parent.selectedOutgoing" ng-value="{{$index}}"/>
              <label for="outgoing{{$index}}">{{outgoingFlight.cost}} {{outgoingFlight.currency}}</label>
            </fieldset>
          </td>
          <td ng-show="otherAirlines===1">
            {{outgoingFlight.Airline}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="returnFlights" ng-hide="oneWay">
    <div class="info-header container-fluid">
      <h3><i class="material-icons">fast_rewind</i>
        {{destination}} - {{origin}}
      </h3>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Flight</th>
          <th ng-show="seatClass=='economy'">Economy</th>
          <th ng-show="seatClass=='business'">Business</th>
          <th ng-show="otherAirlines===1">Airline</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="returnFlight in returnFlights">
          <td>
            <div class="row flight-number">
              {{returnFlight.flightNumber}}
            </div>
            <div class="row">
              {{returnFlight.departureDateTime | date :  "shortTime"}} - {{returnFlight.arrivalDateTime | date :  "shortTime"}}
            </div>
            <div class="row">
              {{returnFlight.aircraftType}} {{returnFlight.aircraftModel}}
            </div>
          </td>
          <td>
            <fieldset >
              <input type="radio" class="class"  id="return{{$index}}" name="returnCost" ng-model="$parent.selectedReturn" ng-value="{{$index}}"/>
              <label for="return{{$index}}">{{returnFlight.cost}} {{returnFlight.currency}}</label>
            </fieldset>
          </td>
          <td ng-show="otherAirlines===1">
            {{returnFlight.Airline}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div id="pricing-table" class="clear">

  <div class="plan">
    <h3>Shopping Cart
      <span ng-hide="oneWay">${{parseInt(outgoingFlights[selectedOutgoing].cost) + parseInt(returnFlights[selectedReturn].cost)}}</span>
      <span ng-hide="!oneWay">${{outgoingFlights[selectedOutgoing].cost}}</span>
    </h3>
    <table class="table table-hover">
      <tbody>
        <tr>
          <td>
            <div class="row flight-number">
              {{outgoingFlights[selectedOutgoing].flightNumber}}
            </div>
            <div class="row">
              {{outgoingFlights[selectedOutgoing].origin}} - {{outgoingFlights[selectedOutgoing].destination}}
            </div>
            <div class="row">
              {{outgoingFlights[selectedOutgoing].departureDateTime | date :  "shortTime"}} - {{outgoingFlights[selectedOutgoing].arrivalDateTime | date :  "shortTime"}}
            </div>
          </td>
          <td>{{outgoingFlights[selectedOutgoing].cost | currency}}</td>
        </tr>
        <tr ng-hide="oneWay">
          <td>
            <div class="row flight-number">
              {{returnFlights[selectedReturn].flightNumber}}
            </div>
            <div class="row">
              {{returnFlights[selectedReturn].origin}} - {{returnFlights[selectedReturn].destination}}
            </div>
            <div class="row">
              {{returnFlights[selectedReturn].departureDateTime | date :  "shortTime"}} - {{returnFlights[selectedReturn].arrivalDateTime | date :  "shortTime"}}
            </div>
          </td>
          <td>{{returnFlights[selectedReturn].cost | currency}}</td>
        </tr>
      </tbody>
    </table>
    <a class="checkout hvr-pulse" href="" ng-click="Continue()">Checkout</a>
  </div>
</div>
<script src="js/cart-scroll.js"></script>
