<!-- Find Flights Form-->
<div class="find-flight-form">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" >
                <h1>Find Flights</h1>

                <form class="form-inline" role="form">
                    <label class="checkbox-inline"><input type="checkbox" value="">One-way</label>
                 
                    <div>
                        <div class="form-group">
                            <input  class="form-control" id="fromCountry" placeholder="From">
                        </div>
                        <div class="form-group">
                               <input class="form-control"  type="date" id="fromDate"></input>
                        </div>
                         <div class="form-group">
                            <select class="form-control" id="selectAdultNo">
                                <option value="1">1 Adult</option>
                                <option value="2">2 Adults</option>
                                <option value="3">3 Adults</option>
                                <option value="4">4 Adults</option>
                                <option value="5">5 Adults</option>
                            </select>
                        </div>


                    </div>
                    
                    <div>
                        <div class="form-group">
                            <input class="form-control" id="toCountry" placeholder="To">
                        </div>

                         <div class="form-group">
                            <input class="form-control" type="date" id="ToDate"></input>
                        </div>

                        <div class="form-group">
                            <select class="form-control" id="selectClass">
                                <option value="Economy">Economy</option>
                                <option value="Business">Business</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <button type="button" class="btn btn-info">Find Flights</button>
                     
                        </div>

                    </div>
                

                 
                </form>



            </div>
            
        </div>
        
    </div>
</div>

