<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker3.standalone.css">
<link rel="stylesheet" href="css/landing-new.css">
<div class="intro-text">
</div>
<div id="searchWrapper">
  <div class="info-header container-fluid">
    <h1><i class="fa fa-plane" aria-hidden="true"></i>  Fly me!</h1>
  </div>
  <form class="form" name="searchForm" autocomplete="off" novalidate>
    <div class="form-item checks">
      <fieldset class="input-direction">
        <input type="checkbox" class="direction" id="direction" name="direction"ng-model="oneWay" ng-true-value="1" ng-false-value="0"/>
        <label for="direction">ONE-WAY</label>
      </fieldset>
      <fieldset class="input-direction">
        <input type="checkbox" class="direction" id="otherAirlines" name="otherAirlines" ng-model="otherAirlines" ng-true-value="1" ng-false-value="0"/>
        <label for="otherAirlines">OTHER AIRLINES</label>
      </fieldset>
    </div>
    <div id="route" class="input-group">
      <div class="form-item">
        <label>From</label>
        <input type="text" id="origin" required name="origin" placeholder="Select origin" ng-model="origin" uib-typeahead="airport.iata as airport.iata for airport in airports| filter:{'iata':$viewValue} | filter:notNull | limitTo:5" class="input-sm form-control"/>
        <i class="fa fa-location-arrow" aria-hidden="true"></i>
      </div>
      <div class="form-item">
        <label>To</label>
        <input type="text" id="destination" required name="destination" placeholder="Select destination" class="input-sm form-control" ng-model="destination" uib-typeahead="airport.iata as airport.iata for airport in airports | filter:{'iata':$viewValue} | filter:notNull | limitTo:5"/>
        <i class="fa fa-location-arrow" aria-hidden="true"></i>
      </div>
    </div>

    <div id="flight-datepicker" class="input-daterange input-group">
      <div class="form-item">
        <label>Depart on</label>
        <input type="text" required id="start-date" name="start" placeholder="Select depart date" data-date-format="DD, MM d" class="input-sm form-control" ng-model="departingDate"/>
        <i class="fa fa-calendar" aria-hidden="true"></i>
        <span class="date-text date-depart"></span>
      </div>
      <div ng-hide="oneWay" class="form-item class">
        <label>Return on</label>
        <input type="text" ng-required="!oneWay" id="end-date" name="end" placeholder="Select return date" data-date-format="DD, MM d" class="input-sm form-control" ng-model="returningDate"/>
        <i class="fa fa-calendar" aria-hidden="true"></i>
        <span class="date-text date-return"></span>
      </div>
    </div>
    <fieldset class="class">
      <label>Class</label>
      <div class="select" id="select-type">
        <select id="class" required ng-model="class">
          <option value="economy">Economy</option>
          <option value="business">Business</option>
        </select>
      </div>
    </fieldset>
    <div ng-show="clicked" class="invalid">*Please fill in all fields.</div>
    <button id="search" class = "hvr-pulse" ng-click="validateForm() && findFlights()"><i class="fa fa-search" id="searchIcon" aria-hidden="true"></i>SEARCH</button>
  </form>
</div>
<div id="viewBF" class="find">
  <div class="info-header container-fluid">
    <h1><i class="fa fa-eye" aria-hidden="true"></i>  View booking</h1>
  </div>
  <div class="search-holder">
    <input type="text" name="booking" class="search-input" placeholder="Booking Ref." ng-model="bookingRef">
    <button type="button" class="hvr-fade" ng-click="showBooking()"><i class="fa fa-search " aria-hidden="true"></i></button>
  </div>
</div>
<div id="checkFlight" class="find">
  <div class="info-header container-fluid">
    <h1><i class="fa fa-info-circle" aria-hidden="true"></i>  check flight</h1>
  </div>
  <div class="search-holder">
    <input type="text" name="flight" class="search-input" placeholder="Flight No." ng-model="flightNo">
    <button type="button" class="hvr-fade" ng-click="checkFlight()"><i class="fa fa-search " aria-hidden="true"></i></button>
  </div>
</div>


<script src="js/jquery.easing.min.js"></script>
<script src="js/scrolling-nav.js"></script>
<script src="js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-dateFormat/1.0/jquery.dateFormat.js"></script>
<script src="js/datePicker.js"></script>
<script src="js/typed.js"></script>
<script>
$(function(){
  $(".intro-text").typed({
    strings: ["Welcome!", "Ready to book on Alaska Airlines?"],
    typeSpeed: 0
  });
});
</script>
