
  <!-- <img class="img-responsive" id="pen" src="img/p1.png"> -->
  <div class="intro-text">
  </div>

<!-- Find Flights Form-->


<div class="container find-flight-form" id="book" >
  <div class="jumbotron">


    <h2 id="form-title">Where can we take you?</h1>

      <form name="flightForm" class="form-inline" novalidate>
        <label> <input type="checkbox" ng-model="form.oneway"> One-way </label>


        <div class="row">

          <div class="form-group col-sm-6">
            <select class="form-control" ng-model="form.fromCountry" ng-options="airport.iata as airport.name + ' (' + airport.iata + ')' for airport in airports | filter:notNull" required>
            </select>
          </div>

          <div class="form-group col-sm-6">
            <select class="form-control" ng-model="form.toCountry" ng-options="airport.iata as airport.name + ' (' + airport.iata + ')' for airport in airports | filter:notNull" required>
            </select>
          </div>

        </div>


        <div class="row">
          <div class="col-sm-3">
            <h3>Outgoing Date</h3>
          </div>
          <div class="form-group col-sm-3">
            <input class="form-control" type="date" value="2016-05-04" ng-model="form.outgoingDate" required ></input>
          </div>

          <div class="col-sm-3" ng-hide="form.oneway">
            <h3>Return Date</h3>
          </div>
          <div class="form-group col-sm-3">
            <input class="form-control"  type="date" value="2016-05-05" ng-model="form.returnDate" ng-hide="form.oneway" ></input>
          </div>
        </div>


        <div class="row">
          <div class="col-sm-4">
            <select class="form-control" ng-model="form.class">
              <option value="Economy"  selected>Economy</option>
              <option value="Business">Business</option>
            </select>
          </div>

        </div>
      </form>
      <div class="row">
        <input type="button" class="btn btn-info hvr-pulse btn-lg pull-right" value="Find Flights" ng-click="flightForm.$valid &&findFlightsButtonClick()" ></input>

      </div>

    </div>
  </div>
  <div class="container text-center" id="viewBF">
    <div class="jumbotron">
      <div class="row text-center">

        <div class = "form-group text-center">
          <input type = "text" class = "input-lg form-control" placeholder="Booking Refernce" ng-model="bookingRef" >

        </div>
      </div>
      <div class="row text-center">
        <button class = "btn btn-default hvr-pulse btn-lg" type = "button" ng-click="showBooking()">Find Booking</button>
      </div>
    </div>
  </div>
  <div class="container text-center" id="checkFlight">
    <div class="jumbotron text-center">
      <div class="row text-center">

        <div class = "form-group  text-center  ">
          <input type = "text" class = "input-lg form-control" placeholder="Flight Number">

        </div>
      </div>
      <div class="row text-center">
        <button class = "btn btn-default hvr-pulse btn-lg" type = "button" ng-click="checkFlight()">Check Flight</button>
      </div>
    </div>

  </div>
  <script src="js/typed.js"></script>
  <script>
  $(function(){
    $(".intro-text").typed({
      strings: ["Welcome!", "Ready to book on Alaska Airlines?"],
      typeSpeed: 0
    });
  });
  </script>
