<div class="container">
	<div class="jumbotron" id="resv">
		<h3>Thank you for choosing Alaska Airlines.</h3>
		<p>Booking ref. {{resv.bookingRefNo}}</p>
		<p>Receipt no. {{resv.receiptNo}}</p>
		<div class="jumbotron" id="passenger">
			<h4>Passenger Info</h4>
			<div class="row">
				<div class="col-sm-3">
					<p>{{resv.passenger.firstName}}</p>
				</div>
				<div class="col-sm-3">
					<p>{{resv.passenger.lastName}}</p>
				</div>
				<div class="col-sm-3">
					<p>{{resv.passenger.passportNo}}</p>
				</div>
			</div>
		</div>

		<div class="jumbotron" id="flights">
			<h4>Flight(s)</h4>
			<div class="jumbotron flight">

				<h4> {{outOrigin.name}} ({{outOrigin.iata}}) - {{outDest.name}} ({{outDest.iata}}) </h4>
				<div class="row">
					<div class="col-sm-2">
						<p> {{resv.outgoingFlight}} </p>
					</div>
					<div class="col-sm-2">
						<p> {{outSeat.seatNumber}} </p>
					</div>
					<div class="col-sm-2">
						<p> {{outSeat.cabin}} </p>
					</div>

					<div class="col-sm-2">
						<p> {{outSeat.cost}} </p>
					</div>
				</div>
				<div class="row miniinfo">
					<div class="col-sm-2">
						<p>Departure</p>
					</div>
					<div class="col-sm-2">
						<p>{{outFlight.departureDate}}</p>
					</div>
					<div class="col-sm-2">
						<p>Arrival</p>
					</div>
					<div class="col-sm-2">
						<p>{{outFlight.arrivalDate}}</p>
					</div>
				</div>
				<div class="row miniinfo">
					<div class="col-sm-2">
						<p>{{outFlight.duration}}</p>
					</div>
				</div>
			</div>
			<div class="jumbotron flight" ng-hide="oneWay">

				<h4> {{retOrigin.name}} ({{retOrigin.iata}}) - {{retDest.name}} ({{retDest.iata}}) </h4>
				<div class="row">
					<div class="col-sm-2">
						<p> {{resv.returnFlight}} </p>
					</div>
					<div class="col-sm-2">
						<p> {{retSeat.seatNumber}} </p>
					</div>
					<div class="col-sm-2">
						<p> {{retSeat.cabin}} </p>
					</div>

					<div class="col-sm-2">
						<p> {{retSeat.cost}} </p>
					</div>
				</div>
				<div class="row miniinfo">
					<div class="col-sm-2">
						<p>Departure</p>
					</div>
					<div class="col-sm-2">
						<p>{{retFlight.departureDate}}</p>
					</div>
					<div class="col-sm-2">
						<p>Arrival</p>
					</div>
					<div class="col-sm-2">
						<p>{{retFlight.arrivalDate}}</p>
					</div>
				</div>
				<div class="row miniinfo">
					<div class="col-sm-2">
						<p>{{retFlight.duration}}</p>
					</div>
				</div>
			</div>
		</div>

		<div class="jumbotron">
			<h4>Payment</h4>
			<div class="row">
				<div class="col-sm-3">
					<p>{{resv.payment.cardType}}</p>
				</div>
				<div class="col-sm-3">
					<p>{{resv.payment.cardNo}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<p>Total Amount</p>
				</div>
				<div class="col-sm-3">
					<p>{{resv.payment.amount | currency}}</p>
				</div>
			</div>


		</div>
	</div>
</div>
<script src="js/jquery.snow.min.1.0.js"></script>
<script>
	$(document).ready( function(){
 		$.fn.snow({ minSize: 15, maxSize: 50, newOn: 1000, flakeColor: '#0099FF' });
	});
</script>
