<link href='https://fonts.googleapis.com/css?family=Homemade+Apple' rel='stylesheet' type='text/css'>
<link href="css/resv-show.css" rel="stylesheet">
<script src="js/resv-show.js"></script>


<div id="bigWrapper" class="container-fluid">
  <div class="wrapper">

    <div class="flight">

      <div class="route">
        <div class="diagram"><img src="http://s18.postimg.org/d8yqxdkjt/c_Gjlath.png"/></div>
        <div class="half">
          <div class="circle">
            <span class="airport">LHR</span>
            <span class="city">London</span>
          </div>
        </div><!--
        --><div class="half">
        <div class="circle">
          <span class="airport">BKK</span>
          <span class="city">Bangkok</span>
        </div>
      </div>
    </div>

    <div class="flight-details">

      <div class="depart">
        <span class="title">Outbound</span>
        <div class="half">
          <span class="way">Departing</span>
          Friday 6th May 2016 &mdash; 17:35 </div><!--
          --><div class="half">
          <span class="way">Arriving</span>Friday 7th May 2016 &mdash; 08:19</div>
        </div>

        <div class="return">
          <span class="title">Return</span>
          <div class="half">
            <span class="way">Departing</span>
            Friday 6th May 2016 &mdash; 17:35 </div><!--
            --><div class="half">
            <span class="way">Arriving</span>Friday 7th May 2016 &mdash; 08:19</div>
          </div>

        </div>


        <div class="booking">
          <div class="tickets">
            <div class="ticket">
              <span class="name">Mandy Smith</span>
              <span class="seat">14B</span>
              <span class="class">Economy</span>
            </div>
          </div>

          <div class="payment">
            <div id="card-container">
              <div class="card" id="card">
                <div class="front">
                  <img class="chip" src="https://www.bethpagefcu.com/~/media/Images/bethpage/Page-Content/CC_chip.ashx?la=en">
                  <img class="payment-card" id="mastercard" src="http://www.veryicon.com/icon/png/Business/Free%20Ecommerce/mastercard.png" />
                  <img class="payment-card" id="visa" src="http://www.veryicon.com/icon/png/Business/Free%20Ecommerce/visa.png">
                  <span class="payment-title">Payment Details</span>
                  <div class="field" id="number">Card Number</div>
                  <div class="field" id="name"> First Last </div>
                  <div class="field" id="date"> Expiry</div>
                </div>


              </div>

            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
