body {
    overflow-x: hidden;
    background: #00BFFF;
}

p {
    font-size: 20px;
}

p.small {
    font-size: 16px;
}


#pen{
    max-width: 200px;
    max-height: 300px;
}

h1
{
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 800;
}


.img-centered {
    margin: 0 auto;
}

header {
    text-align: center;
    color: #fff;
    
}

header .container {
    padding-bottom: 50px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}


header .container {
    padding-top: 130px;
    padding-bottom: 100px;
}

header .intro-text .name {
    font-size: 4.75em;
}

header .intro-text .skills {
    font-size: 1.75em;
}


.navbar-fixed-top {
    padding: 25px 0;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
}

.navbar-fixed-top .navbar-brand {
    font-size: 2em;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.navbar-fixed-top.navbar-shrink {
    padding: 10px 0;
}

.navbar-fixed-top.navbar-shrink .navbar-brand {
    font-size: 1.5em;
}


.navbar {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    background: #fff;
}


.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a{
    color: #496F8C;
    font-size: 1.5em;

}
.navbar .navbar-nav li a:hover{

    color: #F2E394;

}

#logo{
    padding-top: 0px;
    max-height: 100px;
    max-width: 200px;

}



