@font-face {
  font-family: Alegreya;
  src: url("../fonts/AlegreyaSans-MediumItalic.ttf");
}

body {
  background-image: url("../img/alaska3.png");
  font-family: Alegreya;
  position: relative;
}
div{
  background-color: rgba(0, 0, 0, 0);
}
.jumbotron{
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;


}
p {
  font-size: 20px;
}

p.small {
  font-size: 16px;
}


.intro-text
{
  font-family: Alegreya;
  font-weight: 800;
  font-size: 4em;
  margin-top: 150px;
}







.navbar {
  background-color: #01426a;
  padding-top: 5px;
  padding-bottom: 5px;
}




.navbar .navbar-nav li a{
  color: #fff;
  font-size: 1.5em;

}
.navbar .navbar-nav li a:hover{
  color: #496F8C;

}
.navbar .navbar-nav li a:focus{
  color: #496F8C;

}
.navbar .navbar-nav li a:active{
  color: #496F8C;

}


@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

#modify{
  padding-bottom: 10px;
}

#cart{
  background-color: #b1c1c5;
}
.alaska-logo path{fill:#fff}
#logo{
  margin-left: 5px;
}
