.wrapper {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 50px;
  /*background: -webkit-linear-gradient(315deg, #C7767B 0%, #77A2E0 100%);
  background: linear-gradient(135deg, #C7767B 0%, #77A2E0 100%);*/
  background: linear-gradient(135deg, #bd6772, #53223f);
  border-radius: 15px;
  padding-top: 10px;
  width: 70%;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px black;
  border-radius: 5px;
}

.date {
  background-color: rgba(0, 0, 0, 0.2);
  display: block;
  text-align: center;
  padding: 10px;
  color: #eee;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
}
.date.outbound {
  margin-bottom: 20px;
}
.date.inbound {
  margin-top: 20px;
}

.circle {
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #ffffff), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
  background: -webkit-linear-gradient(left, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  background: -o-linear-gradient(left, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  background: -ms-linear-gradient(left, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  background: linear-gradient(to right, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  width: 110px;
  height: 110px;
  text-align: center;
  margin: 0px auto;
  border-radius: 50%;
  border: 5px solid #F5F5F5;
  box-sizing: border-box;
  position: relative;
}


.circle .airport, .circle .city {
  position: absolute;
  display: block;
  text-align: center;
  margin: 0 auto;
  right: 0;
  left: 0;
  color: #01426A;
  z-index: 1;
  /*text-shadow: 0px 1px 2px black;*/
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
}
.circle .airport {
  font-weight: 800;
  top: 35px;
  font-size: 1.25em;
}
.circle .city {
  font-weight: 100;
  top: 50px;
  font-size: 1em;
  visibility: none;
  opacity: 0;
}
.circle:hover .city {
  visibility: visible;
  opacity: 1;
  top: 36px;
}
.circle:hover .airport {
  visibility: hidden;
  opacity: 0;
  top: 20px;
}

.flight {
  position: relative;
}

.overflow-hidden {
  overflow: hidden;
  margin-bottom: 100px;
}

.booking {
  box-sizing: border-box;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

.diagram {
  position: absolute;
  left: 50%;
  width: 200px;
  height: 100px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.diagram img {
  width: 100%;
}

.title {
  margin-bottom: 10px;
  display: block;
  text-align: center;
}

.tickets {
  padding: 20px;
  position: relative;
}
.tickets:hover .ticket:last-of-type {
  margin-top: 10px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.tickets .ticket {
  padding: 20px;
  border-top: 1px dashed #aaa;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  bottom: 0px;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
}
.tickets .ticket:last-of-type {
  margin-top: -35px;
  -webkit-transform: rotate(1deg);
          transform: rotate(1deg);
}
.ticket .name {
  font-weight: 500;
  font-size: 1.25em;
}
.tickets .ticket .seat {
  position: absolute;
  top: 15px;
  left: 50%;
  padding: 5px;
  background-color: #f5f5f5;
}
.tickets .ticket .cost {
  max-width: 100px;
  position: absolute;
  top: 15px;
  left: 70%;
  padding: 5px;
  background-color: #f5f5f5;
  font-size:1.2em;
}
.tickets .ticket .seat:before {
  content: "Seat ";
  font-family: "Helvetica Neue", Arial;
  padding-right: 30px;
}
.tickets .ticket .class {
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 5px;
  background-color: #f5f5f5;
  font-weight: 800;
}
.tickets .ticket .direction {

  top: 15px;
  padding: 10px;
  margin-left: 10px;
  background-color: #f5f5f5;
  font-weight: 800;
}
.center {
  text-align: center;
}

.half {
  width: 50%;
  display: inline-block;
  box-sizing: border-box;
}

.depart span, .return span {
  display: block;
  font-weight: 800;
  margin-bottom: 5px;
  padding: 5px 20px;
  font-size: 1.25em;
  text-align: center;
}
.depart span.way, .return span.way {
  padding: 5px 0;
}

.depart .half, .return .half {
  font-size: 1em;
  text-align: center;
  padding: 5px 20px;
}

.depart {
  border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
}

.half:first-of-type {
  border-right: 1px dotted rgba(255, 255, 255, 0.3);
}

.flight-details {
  color: white;
  text-shadow: 0 1px 2px black;
  margin-top: 50px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.route {
  top: -100px;
  position: absolute;
  right: 0;
  left: 0;
}

.route .half {
  z-index: 1;
}


.return, .depart {
  padding: 10px 10px 20px 10px;
  background-color: rgba(0, 0, 0, 0.5);
}



.payment .card {
  display: block;
  background: -webkit-linear-gradient(315deg, #37456C 0%, #2F397A 100%);
  background: linear-gradient(135deg, #37456C 0%, #2F397A 100%);
  width: 390px;
  height: 280px;
  border-radius: 10px;
  margin: 20px;
  overflow: hidden;
  border: 1px solid #aaa;
  padding: 20px;
  box-shadow: 1px 2px 4px black;
  font-family: Inconsolata;
  box-sizing: border-box;
  position: relative;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  z-index: 1;
}

.payment .card .chip {
  width: 40px;
  margin-top: 50px;
}
.payment .card .payment-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: white;
  text-shadow: 0 1px 2px black;
  position: absolute;
  left: 20px;
  top: 20px;
}
.payment .card .payment-card {
  width: 30px;
  position: absolute;
  right: 15px;
  top: 10px;
  opacity: 0;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.payment .card .field {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom: 1px dotted #eee !important;
  border: 0px;
  padding: 5px;
  color: white;
  font-size: 0.8em;
  text-shadow: 0 1px 2px black;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
  text-transform: uppercase;
}
.payment .card #name {
  width: 50%;
}
.payment .card #date {
  width: 40%;
}
.payment .card #number {
  width: 86%;
}
.payment .card #total {
  width: 40%;
}
.bookingRef{
  font-size:1.5em;
}
.title-b{
  font-size: 0.7em;
  opacity: 0.5;
}
