<ion-view title = "Confirmation" id = "confirmation">
  <ion-content>
  <link href='https://fonts.googleapis.com/css?family=Homemade+Apple' rel='stylesheet' type='text/css'>
  <!-- <link href="css/booking.css" rel="stylesheet"> -->

  <div class="wrapper">

    <div class="flight">

      <div class="route">
        <div class="diagram"><img src="http://s18.postimg.org/d8yqxdkjt/c_Gjlath.png"/></div>
    </div>

    <div class="flight-details">
      <div class="bookingRef">
        <span class="title title-b">Booking Ref. </span>
        <span class="title">{{booking.bookingRefNo}}</span>
        <span class="title title-b">Airline </span>
        <span class="title">{{booking.Airline}}</span>
      </div>
    </div>
  </div>
  </div>
  </ion-content>
</ion-view>

