<ion-view title="Find Booking Search" id="findBooking" >
    <ion-content padding="true"  class="has-header">
        <div class="spacer" style="width: 300px; height: 213px;"></div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Booking Ref.</span>
                <input type="text" placeholder="">
            </label>
            <button id="findBookingSearch-button4" style="font-weight:500;" class="button button-calm  button-block icon ion-ios-search-strong">Find booking</button>
        </form>
    </ion-content>
</ion-view>

