<ion-view title="Flight Status Search" id="findFlightStatus" >
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 213px;"></div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Flight Number</span>
                <input type="text" placeholder="">
            </label>
            <button id="flightStatusSearch-button5" style="font-weight:500;" class="button button-calm  button-block icon ion-android-plane">Find Flight Status</button>
        </form>
    </ion-content>
</ion-view>
