<ion-view title = "payment" id = "payment">
  <ion-content paddinf = "true" class = "has-header">
    <div class="checkout">
      <form class="form" autocomplete="off" novalidate>
        <fieldset>
          <label for="card-type">Card Type</label>
          <div class="select" id="select-type">
            <select id="card-type" ng-model="cardType">
              <option></option>
              <option value="Visa">Visa</option>
              <option value="MasterCard">MasterCard</option>
            </select>
          </div>
        </fieldset>
        <fieldset>
          <label for="card-number">Card Number</label>
          <input type="num" ng-model="cardNo1" id="card-number" class="input-cart-number" maxlength="4" />
          <input type="num" ng-model="cardNo2" id="card-number-1" class="input-cart-number" maxlength="4" />
          <input type="num" ng-model="cardNo3" id="card-number-2" class="input-cart-number" maxlength="4" />
          <input type="num" ng-model="cardNo4" id="card-number-3" class="input-cart-number" maxlength="4" />
        </fieldset>
        <fieldset>
          <label for="card-holder">Card holder</label>
          <input type="text" id="card-holder" ng-model="cardHolder" />
        </fieldset>
        <fieldset class="fieldset-expiration">
          <label for="card-expiration-month">Expiration date</label>
          <div class="select">
            <select id="card-expiration-month" ng-model="expiryMonth">
              <option></option>
              <option value="01">01</option>
              <option value="02">02</option>
              <option value="03">03</option>
              <option value="04">04</option>
              <option value="05">05</option>
              <option value="06">06</option>
              <option value="07">07</option>
              <option value="08">08</option>
              <option value="09">09</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
          </div>
          <div class="select">
            <select id="card-expiration-year" ng-model="expiryYear">
              <option></option>
              <option value="2016">2016</option>
              <option value="2017">2017</option>
              <option value="2018">2018</option>
              <option value="2019">2019</option>
              <option value="2020">2020</option>
              <option value="2021">2021</option>
              <option value="2022">2022</option>
              <option value="2023">2023</option>
              <option value="2024">2024</option>
              <option value="2025">2025</option>
            </select>
          </div>
        </fieldset>
        <fieldset class="fieldset-ccv">
          <label for="card-ccv">CCV</label>
          <input type="text" id="card-ccv" maxlength="3" ng-model="ccv" />
        </fieldset>
        <button class="confirm hvr-pulse" ng-click="SubmitPayment()"><i class="fa fa-lock"></i> confirm</button>
      </form>
    </div>
    <!-- <link href="css/payment.css" rel="stylesheet"> -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
    <script src="js/payment.js"></script>
  </ion-content>
</ion-view>
